.badges {
	border-radius: 5px;
	cursor: default;
	line-height: 1;
	padding: 0.375rem 0.5625rem;
	font-weight: normal;
}

.badges-warning {
	color: black;
	background-color: #ffc107;
}

.badges-danger {
	color: white;
	background-color: #dc3545;
}

.badges-success {
	color: white;
	background-color: #28a745;
}
