@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Kanit", sans-serif;
}

body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: right;
	background-image: url("../img/work-pencil-2560x1440.jpg");
}

.container {
	margin-right: 300px;
	position: relative;
	max-width: 430px;
	width: 100%;
	background: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	border-radius: 25px;
}

.container .form {
	width: 50%;
	padding: 30px;
	background-color: #fff;
	transition: margin-left 0.18s ease;
}

.container .form .title {
	position: relative;
	font-size: 27px;
	font-weight: 600;
}

.container .forms {
	display: flex;
	align-items: center;
	width: 200%;
	height: 440px;
	transition: height 0.2s ease;
}

.container .signup {
	opacity: 0;
	transition: opacity 0.09s ease;
}

.container.active .login {
	margin-left: -50%;
	opacity: 0;
	transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container.active .signup {
	opacity: 1;
	transition: opacity 0.02s ease;
}

.container.active .forms {
	height: 820px;
}

.form .title::before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 3px;
	width: 30px;
	border-radius: 25px;
}

.form .input-field {
	position: relative;
	height: 50px;
	width: 100%;
	margin-top: 30px;
}

.form .checkbox-text {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.form .checkbox-text .checkbox-content {
	display: flex;
	align-items: center;
}

.form .checkbox-text .checkbox-content input {
	margin: 0 8px -2px 4px;
	accent-color: #4070f4;
}

.form a.text {
	color: #4070f4;
	text-decoration: none;
}

.form a:hover {
	text-decoration: underline;
}

.form .text {
	color: #333;
	font-size: 14px;
}

.form .button {
	margin-top: 35px;
}

.form .button input {
	border: none;
	color: #fff;
	font-size: 17px;
	font-weight: 500;
	letter-spacing: 1px;
	border-radius: 6px;
	background-color: #4070f4;
	cursor: pointer;
	transition: all 0.3s ease;
}

.form .button input:hover {
	background-color: #265df2;
}

.form .login-signup {
	margin-top: 30px;
	text-align: center;
}

.input-field input {
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0 35px;
	border: none;
	outline: none;
	font-size: 16px;
	border-bottom: 2px solid #999;
	border-top: 2px solid transparent;
}

.input-field input:is(:focus, :valid) {
	border-bottom-color: #4070f4;
	transition: all 0.2s ease;
}

.input-field i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	font-size: 23px;
}

.input-field input:is(:focus, :valid) ~ i {
	color: #4070f4;
	transition: all 0.2s ease;
}

.input-field i.icon {
	left: 0;
}

.input-field i.showHidePw {
	right: 0;
}

/*# sourceMappingURL=login.css.map */
